<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/asset/css/style.css" type="text/css" />
		<title>Burger Shop</title>
		<script src="/"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
    <script src="/asset/js/app.js"></script>
</html>


