<div id="hero-head">
    <div class="container text-center">
    <h1 class="title">
        Welcome to the Burger Shop
    </h1>
    <div ><a href="#main-content" id="home" class="btn"> Order Now!</a> </div>
    </div>
</div>



<section id="main-content">
    <a href="#hero-head" class="btn">Home</a>
    <div class="container text-center">
        <div class="pic">
            <img src="https://myrealdomain.com/images/cartoon-burger-3.png" alt="">
        </div>
        <div class="requests">
           <div class="eat"></div> 
           <div class="ate"></div>
        </div>
        <h2>What would you like to order?</h2>
        <textarea name="order" id="order" cols="30" rows="5"></textarea>
        <div ><a class="btn" id="order-placed" spellcheck="true">Place Order!</a></div>
    </div>
</section>

